{% extends "base.html" %}
{% load i18n %}

{%block extra_js}

{%endblock}

{% block meta_title %}Servicio de Graficación{% endblock %}
{% block title %}Servicio de Graficación{% endblock %}




{% block breadcrumb_menu %}
<li class="active">Servicio de Graficación</li>
{% endblock %}

{% block main %}

<form method="post" action="/flares/service-plot/" enctype="multipart/form-data">{% csrf_token %}
{{ form.as_ul }}
  <button type="submit" name="execute_page_button" class="btn btn-primary btn-lg btn-block">Ejecutar</button>
  <input type="submit" value="Cancelar" name="cancel_page_button" class="btn btn-secondary" formnovalidate></input>  
</form>
{% endblock %}
